!!! 5
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=iso-8859-1")
    %title design.jboss.org : the home of the visual design team for the JBoss Community
    %link(href="stylesheets/design_common.css" rel="stylesheet" type="text/css")

  %body.mainbkg.status

    / JBoss Community
    %dl
      %h5	JBoss Community
      %dt Our Stuff
      %dd
        %table.statusindex
          %tbody.statusgreyrow
            %tr
              %th Description
            %tr
              %td<
                %a(href="jbossorg/branding/index.htm") Branding Elements
            %tr
              %td<
                %a(href="jbossorg/index.htm") Site Functionality and User Interface Projects
            %tr
              %td<
                %a(href="bootstrap/index.html") Twitter Bootstrap Themes

    / Project Support
    %dl
      %h5 Project
      %dt Active Projects
      %dd
        %table.statusindex
          %tbody.statusgreyrow
            %tr
              %th Description
            %tr
              %td<
                %a(href="aerogear/index.htm") AeroGear
            %tr
              %td<
                %a(href="apiviz/index.htm") APIviz
            %tr
              %td<
                %a(href="arjunats/index.htm") ArjunaTS
            %tr
              %td<
                %a(href="arquillian/index.htm") Arquillian
            %tr
              %td<
                %a(href="blacktie/index.htm") BlackTie
            %tr
              %td<
                %a(href="byteman/index.htm") Byteman
            %tr
              %td<
                %a(href="capedwarf/index.htm") CapeDwarf
            %tr
              %td<
                %a(href="ceylon/index.htm") Ceylon
            %tr
              %td<
                %a(href="blip/index.htm") Drools Blip + Subprojects
            %tr
              %td<
                %a(href="EAP/index.htm") EAP
            %tr
              %td<
                %a(href="embedded_jopr/index.htm") Embedded Jopr
            %tr
              %td<
                %a(href="errai/index.htm") Errai
            %tr
              %td<
                %a(href="ESB/index.htm") ESB
            %tr
              %td<
                %a(href="gatein/index.htm") GateIn
            %tr
              %td<
                %a(href="guvnor/index.htm") Guvnor
            %tr
              %td<
                %a(href="hibernate/index.htm") Hibernate
            %tr
              %td<
                %a(href="hornetQ/index.htm") HornetQ
            %tr
              %td(height="16")<
                %a(href="immutant/index.htm") Immutant
            %tr
              %td(height="16")<
                %a(href="infinispan/index.htm") Infinispan
            %tr
              %td(height="16")<
                %a(href="ironjacamar/index.htm") Iron Jacamar
            %tr
              %td<
                %a(href="jbossAS/index.htm") JBoss Application Server
            %tr
              %td<
                %a(href="jboss_blog/index.html") JBoss Blog
            %tr
              %td(height="16")<
                %a(href="jbosscache/index.htm") JBoss Cache
            %tr
              %td<
                %a(href="jbossdeveloperframework/index.htm") JBoss Developer Framework
            %tr
              %td<
                %a(href="jbossforge/index.htm") JBoss Forge
            %tr
              %td<
                %a(href="forums/index.htm") JBoss Forums
            %tr
              %td<
                %a(href="jbossmass/index.htm") JBoss Mass
            %tr
              %td<
                %a(href="jbossmicrocontainer/index.htm") JBoss Microcontainer
            %tr
              %td<
                %a(href="jbossrules/index.htm") JBoss Rules
            %tr
              %td<
                %a(href="jbosstools/index.htm") JBoss Tools
            %tr
              %td<
                %a(href="jbossweb/index.htm") JBoss Web
            %tr
              %td<
                %a(href="jbpm/index.htm") jBPM
            %tr
              %td<
                %a(href="jgroups/index.htm") JGroups
            %tr
              %td<
                %a(href="jopr/index.htm") Jopr
            %tr
              %td<
                %a(href="jsfunit/index.htm") JSFUnit
            %tr
              %td<
                %a(href="mobicents/branding/index.htm") Mobicents
            %tr
              %td<
                %a(href="mod_cluster/index.htm") Mod_cluster
            %tr
              %td<
                %a(href="modeshape/index.htm") ModeShape
            %tr
              %td<
                %a(href="narayana/index.htm") Narayana
            %tr
              %td<
                %a(href="netty/index.htm") Netty
            %tr
              %td<
                %a(href="overlord/index.htm") Overlord
            %tr
              %td<
                %a(href="resteasy/index.htm") RESTEasy
            %tr
              %td<
                %a(href="papaki/index.htm") Papaki
            %tr
              %td<
                %a(href="picketbox/index.htm") PicketBox
            %tr
              %td<
                %a(href="picketlink/index.htm") PicketLink
            %tr
              %td<
                %a(href="pressgang/index.htm") PressGang
            %tr
              %td<
                %a(href="rhq/index.htm") RHQ
            %tr
              %td<
                %a(href="richfaces/index.htm") RichFaces
            %tr
              %td<
                %a(href="riftsaw/index.htm") RiftSaw
            %tr
              %td<
                %a(href="sam/index.htm") SAM
            %tr
              %td<
                %a(href="savara/index.htm") Savara
            %tr
              %td<
                %a(href="scribble/index.htm") Scribble
            %tr
              %td<
                %a(href="seam/index.htm") Seam
            %tr
              %td<
                %a(href="shrinkwrap/index.htm") ShrinkWrap
            %tr
              %td<
                %a(href="snowdrop/index.htm") Snowdrop
            %tr
              %td<
                %a(href="stormgrind/index.htm") StormGrind: BoxGrinder
            %tr
              %td<
                %a(href="stormgrind/cirras/index.htm") StormGrind: CirrAS
            %tr
              %td<
                %a(href="stormgrind/coolingtower/index.htm") StormGrind: CoolingTower
            %tr
              %td<
                %a(href="switchyard/index.htm") SwitchYard
            %tr
              %td<
                %a(href="teiid/index.htm") Teiid
            %tr
              %td<
                %a(href="tattletale/index.htm") Tattletale
            %tr
              %td<
                %a(href="tohu/index.htm") Tohu
            %tr
              %td<
                %a(href="torquebox/index.htm") TorqueBox
            %tr
              %td<
                %a(href="webbeans/index.htm") Web Beans
            %tr
              %td<
                %a(href="weld/index.htm") Weld
            %tr
              %td<
                %a(href="wise/index.htm") Wise
            %tr
              %td<
                %a(href="xnio/index.htm") XNIO
      
      %dt Archived Projects 
      %dd
        %table.statusindex
          %tbody.statusgreyrow
            %tr
              %th Description
            %tr
              %td<
                %a(href="JEMS_installer/index.htm") JEMS installer
            %tr
              %td<
                %a(href="jbossIDE_2.0/index.htm") JBossIDE
            %tr
              %td<
                %a(href="DNA/index.htm") DNA
            %tr
              %td<
                %a(href="portal_2_6/index.htm") JBoss Portal
            %tr
              %td(height="16")<
                %a(href="horizon/index.htm") Horizon

    / Other Projects
    %dl
      %h5 Related Sites
      %dt Cloud-TM
      %dd
        %table.statusindex
          %tbody.statusgreyrow
            %tr
              %th Description
            %tr
              %td<
                %a(href="cloudtm/index.htm") cloudtm.eu

      %dt REST-*.org
      %dd
        %table.statusindex
          %tbody.statusgreyrow
            %tr
              %th Description
            %tr
              %td<
                %a(href="reststar/index.htm") REST-*.org
      %dt seamframework.org
      %dd
        %table.statusindex
          %tbody.statusgreyrow
            %tr
              %th Description
            %tr
              %td<
                %a(href="/seam/sfwk/index.htm") seamframework.org

    / Event Support
    %dl
      %h5 Events
      %dt EclipseCon
      %dd
        %table.statusindex
          %tbody.statusgreyrow
            %tr
              %th Description
            %tr
              %td<
                %a(href="jbossorg/branding/EclipseCon/2009/index.htm") EclipseCon 2009
            %tr
              %td<
                %a(href="jbossorg/branding/EclipseCon/2010/index.htm") EclipseCon 2010
            %tr
              %td<
                %a(href="jbossorg/branding/EclipseCon/2011/index.htm") EclipseCon 2011
          
      %dt JUDCon
      %dd
        %table.statusindex
          %tbody.statusgreyrow
            %tr
              %th Description
            %tr
              %td<
                %a(href="jbossorg/branding/JUDcon/2010/index.htm") JUDCon 2010
            %tr
              %td<
                %a(href="jbossorg/branding/JUDcon/2011/index.htm") JUDCon 2011
            %tr
              %td<
                %a(href="jbossorg/branding/JUDcon/2012/index.htm") JUDCon 2012
          
      %dt DeVoxx
      %dd
        %table.statusindex
          %tbody.statusgreyrow
            %tr
              %th Description
            %tr
              %td<
                %a(href="jbossorg/branding/Devoxx/2009/index.htm") DeVoxx 2009
            %tr
              %td<
                %a(href="jbossorg/branding/Devoxx/2010/index.htm") DeVoxx 2010
            %tr
              %td<
                %a(href="jbossorg/branding/Devoxx/2011/index.htm") DeVoxx 2011

      %dt FOSDEM
      %dd
        %table.statusindex
          %tbody.statusgreyrow
            %tr
              %th Description
            %tr
              %td<
                %a(href="fosdem/2012/index.htm") FOSDEM 2012
      
      %dt OpenBlend
      %dd
        %table.statusindex
          %tbody.statusgreyrow
            %tr
              %th Description
            %tr
              %td<
                %a(href="openblend/2010/index.htm") Open Blend 2010
            %tr
              %td<
                %a(href="openblend/2011/index.htm") Open Blend 2011
      
      %dt JavaOne
      %dd
        %table.statusindex
        %tbody.statusgreyrow
          %tr
            %th Description
          %tr
            %td<
              %a(href="jbossorg/branding/javaOne/JavaOne2007/index.htm") JavaOne 2007
          %tr
            %td<
              %a(href="jbossorg/branding/javaOne/JavaOne2008/index.htm") JavaOne 2008
          %tr
            %td<
              %a(href="jbossorg/branding/javaOne/javaOne2009/index.htm") JavaOne 2009
          %tr
            %td<
              %a(href="jbossorg/branding/javaOne/JavaOne2010/index.htm") JavaOne 2010
          %tr
            %td<
              %a(href="jbossorg/branding/javaOne/JavaOne2011/index.htm") JavaOne 2011
      
      %dt JBoss World
      %dd
        %table.statusindex
          %tbody.statusgreyrow
            %tr
              %th Description
            %tr
              %td<
                %a(href="jbossorg/branding/JBWorld/JBW08/index.htm") JBoss World 2008
            %tr
              %td<
                %a(href="jbossorg/branding/JBWorld/JBW09/index.htm") JBoss World 2009
            %tr
              %td<
                %a(href="jbossorg/branding/JBWorld/JBW11/index.htm") JBoss World 2011
      
    / Community Support
    %dl
      %h5 JBUGs
      %dt JBUG support
      %dd
        %table.statusindex
          %tbody.statusgreyrow
            %tr
              %th Description
            %tr
              %td<
                %a(href="bostonjbug/index.htm") Boston
            %tr
              %td<
                %a(href="jbugbrasil/index.htm") Brazil
            %tr
              %td<
                %a(href="jbugchicago/index.htm") Chicago
            %tr
              %td<
                %a(href="jbugczech/index.htm") Czech
            %tr
              %td<
                %a(href="jbugdelhi/index.htm") Delhi
            %tr
              %td<
                %a(href="jbugdenver/index.htm") Denver
            %tr
              %td<
                %a(href="jbugdfw/index.htm") DFW
            %tr
              %td<
                %a(href="jbugjapan/index.htm") Japan
            %tr
              %td<
                %a(href="jbuglondon/index.htm") London
            %tr
              %td<
                %a(href="jbugmilano/index.htm") Milano
            %tr
              %td<
                %a(href="jbugneuchatel/index.htm") Neuchatel
            %tr
              %td<
                %a(href="jbugnewcastle/index.htm") Newcastle
            %tr
              %td<
                %a(href="jbugsandiego/index.htm") San Diego
            %tr
              %td<
                %a(href="jbugsilesia/index.htm") Silesia
  
      %h5 JBoss Enterprise
      %dt Enterprise Stuff
      %dd
        %table.statusindex
          %tbody.statusgreyrow
            %tr
              %th Description<
            %tr
              %td<
                %a(href="jbossenterprise/jbosscom/index.htm") JBoss Enterprise Website Design
            %tr
              %td<
                %a(href="jbossenterprise/shirts/index.htm") JBoss Enterprise Shirt Designs
            %tr
              %td<
                %a(href="jbossdeveloperstudio/index.htm") JBoss Developer Studio
  
      %dt Red Hat
      %dd
        %table.statusindex
          %tbody.statusgreyrow
            %tr
              %th Description
            %tr
              %td<
                %a(href="redhat/index.htm") RH Cycling Jersey
                