%a.dropdown-toggle(data-toggle="dropdown" href="#")<
  =precede 'Download ' do
    %b.caret>
%ul.dropdown-menu
  %li<
    %a(target="_blank" href="/bootstrap.min.css") bootstrap.min.css
  %li<
    %a(target="_blank" href="/bootstrap.css") bootstrap.css
  %li.divider
  %li<
    %a(target="_blank" href="/variables.less") variables.less
  %li<
    %a(target="_blank" href="/bootswatch.less") bootswatch.less